@import "../../assets/variables.scss";

.catalog{
    &_header{
        padding-top: 5rem;
        padding-bottom:3rem;
        width: 100%;
        font-family: $headers;
        h2{
            font-size: 48px;
            margin:0;
        }

        &__rightFilters{
            padding-right: 0px;
            font-size: 20px;
            color:$action;
            font-weight: normal;
        }
    }
    &_content{
        width: 100%;
    }
}
.filters{
    background:$gray;
    height: 30px;
}
.itemsCards{
    padding-right: 0;
}
.cardsList{
    flex-wrap: wrap;
    padding-left: 0px;
}
.checkbox{
    width: 50px;
    background:$gray;
    height: 30px;
    margin-left: 10px;
}