@import "../../assets/variables.scss";

.fieldWrapper{
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: nowrap;
    margin-bottom: 1rem;
    &:last-child{
        margin-bottom: 0;
    }   
}
.errorMessage{
    position:absolute;
    top:100%;
    right: 0;
    font-family:"Poppins";
    font-size: 12px;
    color:#FD3317;
    font-weight: 500;
}
.actionWrapper{
    padding-top: .7rem;
    display: flex;
    justify-content: space-between;
    &_adition{
        padding-top: 4rem;
        display: flex;
        justify-content: center;
    }
}
.signUpAction{
    display: flex;
    flex-direction: column;
    color:#999999;
    & span{
        &:hover{
            cursor:pointer;
        }
    }
    & .btn{
        margin-top: .5rem;
    }
}
.linkToSignIn{
    font-size: 14px;
    color:#999999;
    & span{
        color:$action;
        text-decoration: underline;
        font-weight:600;
    }
}
.passwordField{
    position: relative;
    &_forgotPass{
        position:absolute;
        right:0;
        bottom:110%;
        font-size: .9rem;
        color:$gray;
        &:hover{
            cursor:pointer;
        }
    }
}
.passwordAssistance{
    &_errorMessage{
        background:$modalGray;
        padding: 1rem;
        border: 1px solid #FD3317;
        &__title{
            color:#FD3317;
            font-family: $text;
            font-size: 1.2rem;
        }
        &__text{
            font-family: $text;
            font-size: .8rem;
            color:#FFF;
        }
    }
    &_content{
        &>p{
            margin: 1rem 0;
        }
    }
    &_confirmEmailBtn{
        margin-top: 2rem;
        text-align: right;
    }
}